// Colors
//
// UA Branding Colors

// Primary colors
$bloom:       #ef4056 !default;
$uared:       #ab0520 !default;
$chili:       #8b0015 !default;
$sky:         #81d3eb !default;
$oasis:       #378dbd !default;
$azurite:     #1e5288 !default;
$arizonablue: #0c234b !default;
$midnight:    #001c48 !default;

// Neutral colors
$coolgray: #e2e9eb !default;
$warmgray: #f4ede5 !default;

// Secondary colors
$leaf:   #70b865 !default;
$river:  #007d84 !default;
$silver: #9eabae !default;
// Technically not a ua brand color anymore, but we need it. TODO: Maybe not? light sand was partially replaced by warm gray
$sand:   #f19e1f !default;
$mesa:   #a95c42 !default;

// Legacy colors
$ash:        #403635 !default;
$sage:       #4a634e !default;
// $silver is a legacy brand color too
$darksilver: #49595e !default;
$copper:       $mesa;

// Colors map
$ua-colors: () !default;
$ua-colors: map-merge((
  "bloom": $bloom,
  "uared": $uared,
  "chili": $chili,
  "sky": $sky,
  "oasis": $oasis,
  "azurite": $azurite,
  "arizonablue": $arizonablue,
  "midnight": $midnight,
  "coolgray": $coolgray,
  "warmgray": $warmgray,
  "leaf": $leaf,
  "river": $river,
  "silver": $silver,
  "mesa": $mesa,
  "ash": $ash,
  "sage": $sage,
  "darksilver": $darksilver,
  "copper": $copper
), $ua-colors);

// Override the default bootstrap theme colors
// TODO: We aren't touching `dark`, `light`, or `secondary`... yet
$theme-colors: (
  "primary": $azurite,
  "success": $leaf,
  "info": $sky,
  "warning": $sand,
  "danger": $bloom
);

// Additional theme colors, kept seperate since we don't want all bootstrap
// components to auto-compile them through for loops
$extra-colors: () !default;
$extra-colors: map-merge((
  "primary-dark": $arizonablue,
  "primary-light": $oasis,
  "accent": $uared
), $extra-colors);

// Legacy colors
$legacy-colors: () !default;
$legacy-colors: map-merge((
  "ash": $ash,
  "sage": $sage,
  "silver": $silver,
  "dark-silver": $darksilver,
  "copper": $copper
), $legacy-colors);


// Fonts
//
// Replace the bootstrap fonts with UA fonts

$font-family-serif:      MiloSerifWeb, Baskerville, Georgia, TimesNewRoman, "Times New Roman", Times, serif;
$font-family-sans-serif: MiloWeb, Verdana, Geneva, sans-serif !default;
$headings-font-family:   $font-family-sans-serif !default;

$big-headings-font-family: $font-family-serif !default;

$mark-bg: $warmgray !default;

// Links
//
// Make links the accent color

$link-color: extra-color("accent") !default;

// Pagination

$pagination-active-bg: extra-color("accent") !default;
