// From Arizona Bootstrap
// https://bitbucket.org/az-digital/arizona-bootstrap/src/master/

//
// > COLORS
//

//
// >> Brand Colors
//
$red: #ab0520;
$bloom: #ef4056;
$chili: #8b0015;

$blue: #0c234b;
$sky: #81d3eb;
$oasis: #378dbd;
$azurite: #1e5288;
$midnight: #001c48;

$cool-gray: #e2e9eb;
$warm-gray: #f4ede5;

$leaf: #70b865;
$river: #007d84;
$silver: #9eabae;
$dark-silver: #49595e; // to be used for text only
$mesa: #a95c42;

$ash: #403635;
$sage: #4a634e;

$white: #fff;
$black: #000;

$colors: ();
$colors: map-merge(
  (
    "red": $red,
    "bloom": $bloom,
    "chili": $chili,
    "blue": $blue,
    "sky": $sky,
    "oasis": $oasis,
    "azurite": $azurite,
    "midnight": $midnight,
    "cool-gray": $cool-gray,
    "warm-gray": $warm-gray,
    "leaf": $leaf,
    "river": $river,
    "silver": $silver,
    "mesa": $mesa,
    "ash": $ash,
    "sage": $sage,
    "white": $white,
    "black": $black,
  ),
  $colors
);

//
// >> Transparent Brand Colors
//
$transparent-red: $red;
$transparent-bloom: $bloom;
$transparent-chili: $chili;

$transparent-blue: $blue;
$transparent-sky: $sky;
$transparent-oasis: $oasis;
$transparent-azurite: $azurite;
$transparent-midnight: $midnight;

$transparent-cool-gray: $cool-gray;
$transparent-warm-gray: $warm-gray;

$transparent-leaf: $leaf;
$transparent-river: $river;
$transparent-silver: $silver;
$transparent-mesa: $mesa;

$transparent-ash: $ash;
$transparent-sage: $sage;

$transparent-white: $white;
$transparent-black: $black;

$colors-transparent: ();
$colors-transparent: map-merge(
  (
    "transparent-red": $transparent-red,
    "transparent-bloom": $transparent-bloom,
    "transparent-chili": $transparent-chili,
    "transparent-blue": $transparent-blue,
    "transparent-sky": $transparent-sky,
    "transparent-oasis": $transparent-oasis,
    "transparent-azurite": $transparent-azurite,
    "transparent-midnight": $transparent-midnight,
    "transparent-cool-gray": $transparent-cool-gray,
    "transparent-warm-gray": $transparent-warm-gray,
    "transparent-leaf": $transparent-leaf,
    "transparent-river": $transparent-river,
    "transparent-silver": $transparent-silver,
    "transparent-mesa": $transparent-mesa,
    "transparent-ash": $transparent-ash,
    "transparent-sage": $transparent-sage,
    "transparent-white": $transparent-white,
    "transparent-black": $transparent-black,
  ),
  $colors-transparent
);

//
// >> Grayscale Colors
//
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$grays: ();
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  ),
  $grays
);

//
// >> Theme Colors
//

$primary: $azurite;
$primary-dark: $blue;
$primary-light: $oasis;
$accent: $red;
$secondary: $silver;
$success: $leaf;
$info: $sky;
$warning: #f19e1f; // to be used for warnings only
$danger: $bloom;
$light: $gray-300;
$dark: $gray-800;

$theme-colors: (
  "primary": $primary,
  "primary-dark": $primary-dark,
  "primary-light": $primary-light,
  "accent": $accent,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

//
// > FONTS
//

$font-size-base: 1rem;
// stylelint-disable value-keyword-case
$font-family-sans-serif:
  proxima-nova,
  calibri,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-headings: $font-family-sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
// stylelint-enable value-keyword-case

$link-color: $chili;

//
// > COMPONENTS
//

// >> Breadcrumbs
$breadcrumb-color: $azurite;
$breadcrumb-bg: $white;

// >> Cards
$card-cap-bg: $gray-200;
$card-cap-bg-darken: rgba($black, 0.075);

// >> Dropdowns
$dropdown-link-color: $azurite;
$dropdown-link-hover-color: $midnight;
$dropdown-link-hover-bg: $gray-100;
$dropdown-link-active-bg: $gray-200;

// >> Jumbotron
$jumbotron-bg: $white;
$jumbotron-padding: 2rem;

// >> Navs
$nav-link-color: $azurite;
$nav-link-hover-color: $midnight;
$nav-link-active-color: $midnight;
$nav-link-active-bg: $gray-200;

$nav-tabs-border-color: $gray-200;
$nav-tabs-link-active-border-color: $nav-tabs-border-color
  $nav-tabs-border-color $white;
$nav-tabs-link-bg: $gray-200;
$nav-tabs-link-active-bg: $white;

$nav-tabs-lg-link-padding: 1.25em 1.75em;

$nav-pills-link-active-color: $midnight;
$nav-pills-link-active-bg: $gray-200;

// >> Navbar
$navbar-padding-y: 0;
$navbar-nav-link-padding-y: 1.25rem;
$navbar-nav-link-padding-x: 1.5rem;

$navbar-light-border-color: $gray-200;
$navbar-light-border-width: 1px 0;
$navbar-light-link-color: $azurite;
$navbar-light-link-active-color: $midnight;
$navbar-light-link-active-bg: $gray-200;
$navbar-light-link-hover-bg: $gray-100;

// >> Pagination
$pagination-color: $breadcrumb-color;
$pagination-hover-color: $midnight;

// >> Popovers
$popover-font-size: $font-size-base;

// >> Tables
$table-head-color: $gray-800;
$table-head-bg: $gray-300;
$table-accent-bg: rgba($table-head-bg, 0.4);
$table-hover-bg: rgba($table-head-bg, 0.5);

// >> Tooltips
$tooltip-arrow-color: $blue;
$tooltip-bg: $blue;
