// Buttons
//
// Custom buttons for the docs.

.btn-bs {
  font-weight: 500;
  color: $bd-purple;
  border-color: $bd-purple;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: $bd-purple;
    border-color: $bd-purple;
  }
}
