//
// Redbar header
//
.redbar {
  width: 100%;
  padding: 0 10px;

  a {
    display: inline-flex;
    width: 400px;
    margin: 10px auto;
  }

  img {
    max-width: 400px;
  }
}


//
// Main navbar
//

.bd-navbar {
  .navbar-nav {
    .nav-link {
      color: $bd-graphite-light;

      &.active,
      &:hover,
      &:focus {
        color: $gray-dark;
        background-color: transparent;
      }

      &.active {
        font-weight: 500;
        color: darken($gray-dark, 15%);
      }
    }
  }

  .dropdown-menu {
    font-size: inherit;
  }
}
